@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: sans-serif;
}

section {
	padding: 2rem;
}

#header {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/61579a01a330a86.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

/*-----------------Navbar--------------*/

.navbar-container {
	display: flex;
	justify-content: flex-end;
}

.navbar-list {
	display: flex;
	list-style-type: none;
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0;
}

.navbar-list-item > a {
	text-decoration: none;
	font-weight: 400;
	font-size: 1.4rem;
    padding: .5rem;
}

.navbar-list-item > a:hover {
	border-bottom: 3px solid white;
}

.user-box {
	top: 30%;
	left: 52%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 2.5rem;
}

.user-box img {
	border-radius: 50%;
	width: 250px;
	border: 2px solid #00ffff;
}

.user-box h1 {
    color: #fff;
    font-weight: bold;
	margin: 1rem;
}

.user-box p {
	margin: 0;
	color: #fff;
	font-size: 1.5rem;
}

.scroll-btn {
	background: transparent url(img/arrow_down.png) center center no-repeat;
	background-size: 70px 37px ;
	border-radius: 30px;
	width: 80px;
	height: 47px;
	position: absolute;
	bottom: 60px;
	z-index: 99;
	display: block;
	left: 50%;
	margin: 0 auto;
	text-align: left !important;
	cursor: pointer;
	transition: .5s;
	opacity: 1;
}

.scroll-btn:hover {
	opacity: 2;
}


/*-----------------About-----------------*/

.about-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.about-heading {
	text-align: center;
	margin-bottom: 2rem;
	font-weight: bold;;
	font-size: 4rem;
}

.about-paragraph {
	text-indent: 1cm;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
}

.progress-paragraph {
	margin-top: 3rem;
	font-weight: bolder;
	font-size: 1.5rem;
	text-align: center;
}

.about-article {
	max-width: 30rem;
	margin: 2rem;
}

.profile-img {
	height: 35rem;
	max-width: 30rem;
	margin: 0 2rem;
}

.nav-bar {
	top: 0;
	z-index: 2;
}

.nav-bar .fa-bars {
	size: 35px;
	color: #fff;
}

.navbar-toggler {
	outline: none !important;
}

.navbar-nav {
	float: right;
	text-align: right;
}

.nav-link {
	position: sticky;
	color: #fff !important;
}

.skills-bar p {
	margin-bottom: 6px;
}

.skills-bar {
	font-family: 'Bebas Neue', cursive;
	font-size: 1.3rem;
}

.progress {
	border-radius: 16px !important;
	margin-bottom: 10px;
	display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
	background-color: #e9ecef;
	box-sizing: border-box;
}

.progress-bar {
	border-radius: 16px;
	text-align: center;
	background: #000 !important;
	display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
	color: #e9ecef;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

/*-----------------Resume--------------*/

.education {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/2.jpg);
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 30px;
}

.education-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.education h3 {
	color: #fff;
	margin-bottom: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
}

.timeline {
	list-style-type: none;
	position: relative;
	max-width: 30rem;
}

.timeline::before {
	content: '';
    background-color: #000000;
    display: inline-block;
    position: absolute;
    left: 2rem;
    width: 4px;
    height: 100%;
    z-index: 1;
}

.timeline li.institutes {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.timeline li h4 {
	background-color: #000;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px;
}

/*-------------Expertise-------------*/

.expertise {
	padding-top: 120px;
	padding-bottom: 120px;
	margin-bottom: 50px;
}

.expertise-box {
	background: #f9f9f9;
	border-radius: 50%;
	display: flex;
	margin: 1rem 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	max-width: 30rem;
}

.expertise-box .icons {
	padding: 1rem;
	font-size: 5rem;
	color: #000;
}

.expertise-box span {
	font-size: 2rem;
	padding: 0 2rem;
	font-weight: bold;
	text-align: center;
}

.expertise-box:hover {
	background: #000;
	color: #fff;
	border-radius: 20%;
	transition: 1s;
}

.expertise-box:hover .icons {
	color: #fff;
}

.expertise-box:hover span {
	color: #fff;
}

/*-------------Contact-------------*/

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0;
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/communication-png-hd-communication-png-hd-1200.png);
	background-position: center;
    background-attachment: fixed;
	color: #fff;
	text-align: center;
}

.contact-list {
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.contact-wrapper {
	display: flex;
	margin: 2rem;
	flex-direction: column;
	list-style: none;
	font-size: 2rem;
	align-items: center;
	white-space: nowrap;
}

.contact-wrapper > .contact-icon {
	margin-bottom: 2rem;
	font-size: 4rem;
}

.contact-wrapper > .contact-text {
	font-size: 1.5rem;
}

.footer-paragraph {
	padding: 0 2rem;
}

.contact-form-wrapper{
  max-width: 50rem;
  width: 100%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.contact-form-wrapper h2{
  text-align: center;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.contact-form-wrapper .input_field{
  margin-bottom: 0.625rem;
}

.contact-form-wrapper .input_field input[type="text"],
.contact-form-wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 0.625rem;
}

.contact-form-wrapper textarea{
  resize: none;
  height: 5rem;
}

.contact-form-wrapper .btn input[type="submit"]{
  border: 0;
  margin-top: 1rem;
  padding: 0.625rem;
  text-align: center;
  width: 100%;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 1.25rem;
  background: #fe8b8e;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  transition: all 0.5s ease;
}

/*-----------------Go to top Icon-------------------*/

#back2Top {
	width: 3rem;
	line-height: 3rem;
	display: none;
	position: fixed;
	bottom: 50px;
	right: 1.5rem;
	background-color: #DDD;
	color: #555;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
	text-decoration: none;
}

#back2Top:hover {
	background-color: #DDF;
	color: #000;
}
