@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: sans-serif;
}

section {
	padding: 2rem;
}

#header {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/61579a01a330a86.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

/*-----------------Navbar--------------*/

.navbar-container {
	display: flex;
	justify-content: flex-end;
}

.navbar-list {
	display: flex;
	list-style-type: none;
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0;
}

.navbar-list-item > a {
	text-decoration: none;
	font-weight: 400;
	font-size: 1.4rem;
    padding: .5rem;
}

.navbar-list-item > a:hover {
	border-bottom: 3px solid white;
}

.user-box {
	top: 30%;
	left: 52%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 2.5rem;
}

.user-box img {
	border-radius: 50%;
	width: 250px;
	border: 2px solid #00ffff;
}
.user-box h1 {
    color: #fff;
    font-weight: bold;
	margin: 1rem;
}

.user-box p {
	margin: 0;
	color: #fff;
	font-size: 1.5rem;
}

.scroll-btn {
	background: transparent url(img/arrow_down.png) center center no-repeat;
	background-size: 70px 37px ;
	border-radius: 30px;
	width: 80px;
	height: 47px;
	position: absolute;
	bottom: 60px;
	z-index: 99;
	display: block;
	left: 50%;
	margin: 0 auto;
	text-align: left !important;
	cursor: pointer;
	transition: .5s;
	opacity: 1;
}

.scroll-btn:hover {
	opacity: 2;
}


/*-----------------About-----------------*/

.about-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 8rem;
}

.about-heading {
	text-align: center;
	margin-bottom: 2rem;
}

.about-paragraph {
	text-indent: 1cm;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	text-align: center;
}

.about-article {
	max-width: 30rem;
	margin: 2rem;
}

.profile-img {
	height: 35rem;
	max-width: 30rem;
	margin: 0 2rem;
}

.nav-bar {
	top: 0;
	z-index: 2;
}

.nav-bar .fa-bars {
	size: 35px;
	color: #fff;
}

.navbar-toggler {
	outline: none !important;
}

.navbar-nav {
	float: right;
	text-align: right;
}

.nav-link {
	position: sticky;
	color: #fff !important;
}

.skills-bar p {
	margin-bottom: 6px;
	font-weight: 600;
}

.progress {
	border-radius: 16px !important;
	margin-bottom: 10px;
}

.progress-bar {
	border-radius: 16px;
	background: #000 !important;
}

/*-----------------Resume--------------*/

.education {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/2.jpg);
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 30px;
}

.education h3 {
	color: #fff;
	margin-bottom: 50px;
}

.timeline {
	list-style-type: none;
	position: relative;
}

.timeline::before {
	content: '';
	background-color: #000000;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timeline li.institutes {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.timeline li h4 {
	background-color: #000;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px;
}

.timeline li.institutes::before {
	content: '';
	background: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}

/*-------------Expertise-------------*/

.expertise {
	padding-top: 120px;
	padding-bottom: 120px;
	margin-bottom: 50px;
}

.expertise-box {
	background: #f9f9f9;
	border-radius: 50%;
	display: flex;
	margin: 1rem 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.expertise-box .icons {
	padding: 1rem;
	font-size: 5rem;
	color: #000;
}

.expertise-box span {
	font-size: 2rem;
	padding: 0 2rem;
	font-weight: bold;
	text-align: center;
}

.expertise-box:hover {
	background: #000;
	color: #fff;
	border-radius: 20%;
	transition: 1s;
}

.expertise-box:hover .icons {
	color: #fff;
}

.expertise-box:hover span {
	color: #fff;
}

/*-------------Contact-------------*/

.contact {
	padding: 3rem 0;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/communication-png-hd-communication-png-hd-1200.png);
	background-position: center;
    background-attachment: fixed;
	color: #fff;
	text-align: center;
}

.contact-list {
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.contact-wrapper {
	display: flex;
	margin: 2rem;
	flex-direction: column;
	list-style: none;
	font-size: 2rem;
	align-items: center;
	white-space: nowrap;
}

.contact-wrapper > .contact-icon {
	margin-bottom: 2rem;
	font-size: 4rem;
}

.contact-wrapper > .contact-text {
	font-size: 1.5rem;
}

.footer-paragraph {
	padding: 0 2rem;
}
.footer-heading {
}

/*-----------------Social Media-------------------*/

.social-icons {
	top: 50%;
	transform: translateY(-80%);
	position:sticky;
	z-index: 1;
	margin-left: -2rem;
	width: 80px;
}

.social-icons ul {
	padding: initial;
}

.social-icons ul li {
	padding: initial;
	height: 40px;
	width: 40px;
	list-style-type: none;
	padding-left: 12px;
	padding-top: 6px;
	margin-top: 5px;
	color: #fff;
	background-color: #23a4e0;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
}

.social-icons ul li:hover {
	padding-left: 30px;
	width: 80px;
	transition: 0.5s;
}

/*-----------------Go to top Icon-------------------*/

#back2Top {
	width: 3rem;
	line-height: 3rem;
	display: none;
	position: fixed;
	bottom: 50px;
	right: 1.5rem;
	background-color: #DDD;
	color: #555;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
	text-decoration: none;
}

#back2Top:hover {
	background-color: #DDF;
	color: #000;
}
